@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.banner-pad{
    padding-left: 200px;
    padding-right: 200px;
}